# Dependency
node_modules/

# Build outputs
android/app/build/
android/.gradle/
ios/App/build/
ios/App/Pods/

# OS files
.DS_Store
Thumbs.db

# Config
.env

# Tools & Temp
process_image.py
www/assets/images/home_visual_orig.png
